@import "tailwindcss";

*{
    font-family: 'Inter', 'sans-serif';
}

:root {
  --primary: #7c1469;
  --primary-dark: #5e0f50;
  --primary-light: #fce6f3; 
  --secondary: #ffffff;
  --neutral: #f5f5f5;
  --accent: #ffb6e6;
  --accent-light: rgba(255, 182, 230, 0.2);
  --accent-lighter: rgba(255, 182, 230, 0.05);
}

